.background{
    display: grid;
    grid-template-columns: auto 50% auto;
    @media only screen and (orientation:portrait){
        grid-template-columns: auto 100% auto;
    }
    height: 100%;
    margin: auto;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guesses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background-color: #6CACE4;

}
.color{
    display: flex;
    align-items: center;
    text-align: center;
}

.middle{
    background-color: whitesmoke;
}

html, body{
    height: 100%;
    min-height: 100%;
}

.guess{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guess, .guess label, .guess_input,.color_block, .value_block  {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}
.color_block, .value_block{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}


#guess_input{
    width: 100%;
    height: 3rem;
    font-size: 24px;
    border-radius: 30px;
    text-align: center;

}





